#################
### Mandatory ###
#################

### Database ###

MONGO_URI=
MONGO_USERNAME=
MONGO_PASSWORD=

#################
### Optional  ###
#################

### Server ###

# Default: 3333
PORT=

### GraphQL ###

# Default: false
DISABLE_PLAYGROUND=

# Default: src/schema.gql
AUTO_SCHEMA_FILE=

# Default: false
DISABLE_SCHEMA_SORTING=
